## LLM Configuration
OPENAI_API_KEY=

## Chroma Cloud Configuration
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
CHROMA_COLLECTION_NAME=

## Langsmith Configuration
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGCHAIN_TRACING_V2=true

## HuggingFace Configuration
HF_TOKEN=